{% extends "base.html" %}
{% block container %}
{% load staticfiles %}

    
<div class="container">
    <h1> Prospect info</h1>
        <div class="row">
            <div class="col-md-3">
                <h3>Type</h3>
            </div>

            <div class="col-md-3">
                <h3>Next deadline</h3>
            </div>
            
            <div class="col-md-3">
                <h3>POC</h3>
            </div>

            <div class="col-md-3">
                <h3>Notes</h3>
            </div>
        </div>

</div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

{% endblock %}