/* Bootstrap Overrides */


body {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
}

a {
    color: #fff;
}

.presslink{
    color:#aebe37;
}

a:hover,
a:focus {
    color: #686868;
}

.btn {
  border-radius: 5px;
  background-color: #aebe37;
  margin-left: 20%;
  font-style: bold;
  padding: 3%;
  box-shadow: 2px 2px 4px #696969;
}


.btn-primary {
  background-color: #686868;
  border-color: #686868;
  font-size: 25px;
}

.btn-app {
  background-color: #fff;
  border-color: #686868;
  margin: 1% 1% 2% 0%;
  padding: 2%;
  color: #686868;
}

.btn-app:hover {
  color: #aebe37;
}

.btn-2 {
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: -5px;
  padding-bottom: -10px;
}

.btn-primary-2 {
  font-size: 25px;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  background-color: #101141;
  border-color: #101141;
}


.btn-contact {
  background-color: #686868;
  color: white;
  margin-top: -1%;
  float: right;
  margin-left: 2%;
  padding right: 15px;
  padding left: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
}


.btn-contact:hover,
.btn-contact:focus,
.btn-contact:active,
.btn-contact.active,
.open > .dropdown-toggle.btn-primary {
  background-color: #101141;
  border-color: #101141;
  color: white;
}

.btn-nav {
  background-color: #aebe37;
  border-color: #aebe37;
}

.btn-nav:hover,
.btn-nav:focus,
.btn-nav:active,
.btn-nav.active,
.open > .dropdown-toggle.btn-primary {
  background-color: #fff;
  border-color: #686868;
}

/* Navigation & Brand */


.btn-grey {
  background-color: #686868;
}

.navbar {
    border-radius: 0;
    border: none;
    background-color: #aebe37;
    margin-bottom: 0px;
    font-size: 20px;
}

.black-bg {
  background-color: #000;
}

.black-bg h3 {
  font-family: inherit;
  margin-top: 0px;
  margin-left: -10px;
}

.navbar-brand {
    font-size: 20px;
}

.nav .navbar-nav {
    color: #fff;
}

.navbar-toggle .icon-bar {
    background-color: #aebe37;
}

.twitter-icon {
  height: 1em;
    margin-top: -10px;

}

.fb-icon {
  height: 1em;
  margin-top: -10px;
}


/* Jumbotron */

.jumbotron {
  margin-bottom: 4em;

}

.white_text {
    color: #fff;
}

.green_text {
    color: #aebe37;
}

.purple_text {
    color: #21204A;
}
.charcoal_text {
    color: #686868;
}


h3 span { 
   color: white; 
   font: bold, Helvetica, Sans-Serif; 
   letter-spacing: -1px;
}

.buttontagline {
  margin-left: 20%;
  padding-right: 10%;
  margin-bottom: 8%;
  margin-top: 5%;

}

.facetag {
    background: transparent;
    margin: 0 30px 0 30px;
    padding: 20px 0;

}


.content {
    margin-top: 5%;
    margin-bottom: 5%;
}



.landing{/*behavior:url("/css/polyfills/backgroundsize.htc");*/
background-color:#444;
background-image:url(../img/grad_banner_trimmed.jpg);
background-position:26% 0;
background-size:cover;
height:550px;
color:#fff;
text-align:center}

@media screen and (min-width: 480px){.landing{background-position:35% 0}}
@media screen and (min-width: 768px){.landing{background-position:bottom center}}





.site-info{
  background-color: black;
  opacity: 0.8;
  color: white;
  font-size: 1em;
  padding-bottom: 2em;
  padding-top: 3em;
}

.cfp {
  background-color: #aebe37;
  margin-top: 3%;
  padding: 3% 0% 3% 0%;
}

.person_holder {
  padding: 1em;
  margin: 2em;
}

.person_holder:hover {

}

.person_holder img {height: 200px;}

.question {
  color: #101141;
  font-size: 30px;
}

form #id_interested_in li { list-style: none;
                            padding-bottom: 7px;}
form ul#id_interested_in {padding-left: 0px;}


.hidden_content {display:none;}

.greybox {background-color: #EEEEEE; padding: 20px; border-radius: 5px;}

.greybox li {list-style: none; margin-bottom:15px;}