/* Bootstrap Overrides */

body {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
}

header {
    background-color: #fff;
    position: relative;
}

a {
    color: #fff;
}

.presslink{
    color:#aebe37;
}

a:hover,
a:focus {
    color: #686868;
}

.btn {
  border-radius: 3px;
  background-color: #aebe37;
  margin: 2%;
}

.btn-primary {
  background-color: #aebe37;
  border-color: #aebe37;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  background-color: #686868;
  border-color: #686868;
}

.btn-nav {
  background-color: #aebe37;
  border-color: #aebe37;
  margin: 2px;
}

.btn-nav:hover,
.btn-nav:focus,
.btn-nav:active,
.btn-nav.active,
.open > .dropdown-toggle.btn-primary {
  background-color: #686868;
  border-color: #686868;
}

/* Navigation & Brand */

.navbar {
    border-radius: 0;
    background-color: #aebe37;
    margin-bottom: 0;
}

.navbar-brand {
    color: #333;
}

.navbar-brand > .glyphicon {
    top: 3px;
}

.nav .navbar-nav {
    color: #686868;
}

.navbar-toggle .icon-bar {
    background-color: #aebe37;
    top: -300px;
}

/* Footer */

footer a {
    color: #aebe37;
}

footer a:hover,
footer a:focus {
    color: #aebe37;
}

/* Jumbotron */

.jumbotron {
    background-color: #444;
    background-image: url('../img/graduation_banner2.png');
    background-repeat: no-repeat;
    background-position: center;
    color: #fff;
    text-align: center;
    
}

/*.jumbotron h1 {*/
    margin-top: 300px;
    font-size: 4em;
    text-transform: uppercase;
    letter-spacing: -1px;
    text-shadow: 4px 4px 8px #696969;
    color: white;

/*}*/

.jumbotron .tagline {
    position: relative;
    margin-top: 40px;
    text-shadow: 2px 2px 6px #696969;
    color: #fff;
    font-size: 2em;
}
.jumbotron input.form-control {
    font-size: 18px;
    padding: 20px;
    border-radius: 0;
}

.jumbotron select.form-control {
    padding: 20px;
    height: 42px;
    position: relative;
    left: -5px;
    border-radius: 0;
}
.jumbotron .btn {
    padding: 20px 20px;
    z-index: 1;
    border-radius: 0;
    margin: 0;
    left: -12px;
    position: relative;
}

/* Resources page */
.white_text {
    color: #fff;
}

.result_card {
    border-radius: 10%;
    padding: 1.5em;
    margin-bottom: 1em;
    background-color: #3adcbc;
}

#map-canvas { 
    height: 100%;
}

.change { 
   position: relative; 
   width: 100%; /* for IE 6 */
}

h1 { 
   margin-top: 300px; 
   text-transform: uppercase;
   letter-spacing: -1px;
   text-shadow: 4px 4px 8px #696969;
   color: white;
}

h1 span { 
   color: white; 
   font: bold, Helvetica, Sans-Serif; 
   letter-spacing: -1px;  
   background: rgb(0, 0, 0); /* fallback color */
   background: grey;
   opacity: 0.8; 
   padding: 10px;
}

p span { 
   color: white; 
   font: bold, Helvetica, Sans-Serif; 
   letter-spacing: -1px;  
   background: rgb(0, 0, 0); /* fallback color */
   background: grey;
   opacity: 0.8; 
   padding: 10px;
}

.facetag {
    background: transparent;
    margin: 0 30px 0 30px;
    padding: 20px 0;

}

.jumbotron-about {
    background-color: #444;
    background-image: ;
    background-repeat: no-repeat;
    background-position: center;
    color: #fff;
    text-align: left;
}

.jumbotron-press {
    background-color: #444;
    background-image: ;
    background-repeat: no-repeat;
    background-position: center;
    color: #fff;
    text-align: left;
}

.jumbotron-apply {
    background-color: #444;
    background-image: ;
    background-repeat: no-repeat;
    background-position: center;
    color: #fff;
    text-align: left;
}

.jumbotron-donate {
    background-color: #444;
    background-image: ;
    background-repeat: no-repeat;
    background-position: center;
    color: #fff;
    text-align: left;
}

.jumbotron-partner {
    background-color: #444;
    background-image: ;
    background-repeat: no-repeat;
    background-position: center;
    color: #fff;
    text-align: left;
}

.jumbotron-contact {
    background-color: #444;
    background-image: ;
    background-repeat: no-repeat;
    background-position: center;
    color: #fff;
    text-align: left;
}

.jumbotron-fellows {
    background-color: #444;
    background-image: ;
    background-repeat: no-repeat;
    background-position: center;
    color: #fff;
    text-align: left;
}

.logo {
    position: relative;
    top: 0;
    bottom: 0;
}

.content {
    margin-top: 5%;
    margin-bottom: 5%;

}

.landing .landing--form {
    background: transparent;
    zoom: 1;
    margin: 0 30px 0 30px;
    padding: 20px 0;
}


.name {
    position: inherit;
    text-align: center;
    color: #aebe37;
    font-family: Courier;
    font-size: 26px;
    font-weight: inherit;
}

.position {
    position: inherit;
    text-align: center;
    color: black;
    font-family: Courier;
    font-size: 24px;
    font-weight: inherit;
}

.fellows-3 {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

form #id_interested_in li {list-style: none;
                            padding-bottom: 7px;}

form ul#id_interested_in {padding-left: 0px;}

