/* Bootstrap Overrides */


body {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
}

header {
    background-color: #fff;
    position: relative;
}

a {
    color: #fff;
}

.presslink{
    color:#aebe37;
}

a:hover,
a:focus {
    color: #686868;
}

.btn {
  border-radius: 5px;
  background-color: #aebe37;
  margin: 5%;
  font-style: bold;
}

.btn-primary {
  background-color: #686868;
  border-color: #686868;
  padding: -20px;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  background-color: #101141;
  border-color: #101141;
}

.btn-nav {
  background-color: #aebe37;
  border-color: #aebe37;
  margin: 2px;
}

.btn-nav:hover,
.btn-nav:focus,
.btn-nav:active,
.btn-nav.active,
.open > .dropdown-toggle.btn-primary {
  background-color: #686868;
  border-color: #686868;
}

/* Navigation & Brand */

.navbar {
    border-radius: 0;
    background-color: #aebe37;
    margin-bottom: 0;
}

.navbar-brand {
    color: #333;
}

.navbar-brand > .glyphicon {
    top: 3px;
}

.nav .navbar-nav {
    color: #686868;
}

.navbar-toggle .icon-bar {
    background-color: #aebe37;
    top: -300px;
}

/* Footer */

footer a {
    color: #aebe37;
}

footer a:hover,
footer a:focus {
    color: #aebe37;
}

/* Jumbotron */

.jumbotron {
    background-color: #444;
    background-image: url('../img/grad_banner.jpg');
    background-repeat: no-repeat;
    background-size: 115%;
    background-position: center;
    text-align: center;
    
}

.jumbotron .tagline {
    position: relative;
    margin-top: 40px;
    text-shadow: 2px 2px 6px #696969;
    color: #fff;
    font-size: 2em;
}
.jumbotron input.form-control {
    font-size: 18px;
    padding: 20px;
    border-radius: 0;
}

.jumbotron select.form-control {
    padding: 20px;
    height: 42px;
    position: relative;
    left: -5px;
    border-radius: 0;
}
.jumbotron .btn {
    padding: 40px 20px;
    z-index: 1;
    border-radius: 0;
    margin: 0;
    left: -12px;
    position: relative;
}

/* Resources page */
.white_text {
    color: #fff;
}

.result_card {
    border-radius: 10%;
    padding: 1.5em;
    margin-bottom: 1em;
    background-color: #3adcbc;
}

#map-canvas { 
    height: 100%;
}

.change { 
   position: relative; 
   max-width: 120%;  /* for IE 6 */
   background: grey;
   opacity: 0.82;
}

h1 { 
   margin-top: 400px; 
   letter-spacing: -1px;
   text-shadow: 4px 4px 8px #696969;
   color: white;
}

h1 span { 
   color: white; 
   text-transform: uppercase;
   font: bold, Helvetica, Sans-Serif; 
   letter-spacing: -1px;
}

h3 {
  position: relative;
  text-shadow: 2px 2px 6px #696969;
  color: #fff;
  font-size: 2em;
}

h3 span { 
   color: white; 
   font: bold, Helvetica, Sans-Serif; 
   letter-spacing: -1px;
}

.facetag {
    background: transparent;
    margin: 0 30px 0 30px;
    padding: 20px 0;

}

.jumbotron-about {
    background-color: #444;
    background-image: ;
    background-repeat: no-repeat;
    background-position: center;
    color: #fff;
    text-align: left;
    margin-top: -400px;
    padding-top: 10px;
}

.jumbotron-press {
    background-color: #444;
    background-image: ;
    background-repeat: no-repeat;
    background-position: center;
    color: #fff;
    text-align: left;
    margin-top: -400px;
    padding-top: 10px;
}

.jumbotron-apply {
    background-color: #444;
    background-image: ;
    background-repeat: no-repeat;
    background-position: center;
    color: #fff;
    text-align: left;
    margin-top: -400px;
    padding-top: 10px;
}

.jumbotron-donate {
    background-color: #444;
    background-image: ;
    background-repeat: no-repeat;
    background-position: center;
    color: #fff;
    text-align: left;
    margin-top: -400px;
    padding-top: 10px;
}

.jumbotron-partner {
    background-color: #444;
    background-image: ;
    background-repeat: no-repeat;
    background-position: center;
    color: #fff;
    text-align: left;
    margin-top: -400px;
    padding-top: 10px;
}

.jumbotron-contact {
    background-color: #444;
    background-image: ;
    background-repeat: no-repeat;
    background-position: center;
    color: #fff;
    text-align: left;
    margin-top: -400px;
    padding-top: 10px;
}

.jumbotron-fellows {
    background-color: #444;
    background-image: ;
    background-repeat: no-repeat;
    background-position: center;
    color: #fff;
    text-align: left;
    margin-top: -400px;
    padding-top: 10px;
}

.logo {
    position: relative;
    top: 0;
    bottom: 0;
}

.content {
    margin-top: 5%;
    margin-bottom: 5%;

}

.landing .landing--form {
    background: transparent;
    zoom: 1;
    margin: 0 30px 0 30px;
    padding: 20px 0;
}

.candidate-margins {
  padding-left: 40px;
}

.name {
    position: inherit;
    text-align: center;
    color: #aebe37;
    font-family: Courier;
    font-size: 26px;
    font-weight: bold;
    padding-right: 20px;
}

.position {
    position: inherit;
    text-align: center;
    color: black;
    font-family: Courier;
    font-size: 24px;
    font-weight: inherit;
    padding-right: 50px;
}

.fellows-1 {
    display: block;
    margin-left: -80px;
    margin-right: -80px;

}

.fellows-2 {
    display: block;
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 50px;
}

.fellows-3 {
    display: block;
    margin-left: -80px;
    margin-right: -80px;
}

.site-info{
  background-color: black;
  color: white;
  font-size: 15px;
  font-family: "Lucida Console";
  padding:5px;
  padding-left: 360px;
}

.adr{
  background-color: #a0b52c;
  color: white;
  font-family: "Lucida Console";
  padding: 5px;
  padding-left: 360px;
  margin-left: -360px;
  margin-right: -360px;
}


.cfp {
  background-color: #8fa227;
}

form #id_interested_in li { list-style: none;
                            padding-bottom: 7px;}

form ul#id_interested_in {padding-left: 0px;}

