{% extends "base.html" %}
{% block container %}

<div class="jumbotron-title">
    <div class="container">
        <div class = "row">
            <div class = "col-md-5">
                <h1>What is Code For Progress?</h1>
            </div>
        </div>
    </div>
</div>
<div class = "container">
    <div class = "row">
        <br><br>
            <div class = "col-md-6">
                <div class = "content">
                    <p>Code for Progress brings women and people of color into the coding workforce through holistic investment in their technical training and communities of support.  Our year-long Fellowship starts with a five-month residency in Washington DC, where participants are trained in coding and human centered design, and coached and mentored by talented local professionals. All Code for Progress Fellows receive a monthly stipend and housing allowance during their residency in DC. Then, we facilitate their transition into the tech sector where they use their skills as Junior Developers, Database Managers, Innovation Specialists, State Data Coordinators, and more. Post-residency, Fellows are supported on the job with weekly check-in calls, ongoing professional mentorship and technical coaching, and opportunities to build new skills.</p>

                    <p>By intentionally removing barriers to technological training for women and people of color, Code for Progress cultivates a growing community of diverse professionals who have the technical skills and cultural competency to bring innovation to non-profits, government and industry.</p>

                    <br><h3 class='green_text'>Why Code for Progress?</h3>

                    <p>Identifying, recruiting, and training future leaders in technology has primarily fallen to a network of more than 150 nonprofit organizations and private companies. An October 2010 report published by the Association for Computing Machinery and the Computer Science Teachers Association documented the shocking state of computer science education in the U.S.1 Only 14 states had adopted significant education standards for high school computer science. Most states focused on basic skills such as keyboarding and using the Internet, rather than high-level concepts needed for 21st century jobs such as understanding and applying algorithmic and computational thinking.</p>

                    <p>As schools continue to focus funding on subjects recognized as core disciplines, few students have the opportunity to take rigorous, engaging computer science courses, and among those who do, there is little ethnic diversity. According to 2011 data compiled by the College Board on Advanced Placement Computer Science test-takers, only 15% were women, 3% were African American, and 6% were Latino.2 Similar issues are apparent in adult education programs that workers depend on to keep them hireable. The Kapor Center for Social Impact recently published a report identifying 153 programs that teach the basics of coding or computer science to both youth and adults.3 According to our analysis, of these programs, less than 5% had a stated mission of working with historically underrepresented populations.</p>

                    <p>This lack of availability and access to affordable workforce development and technology training for underrepresented communities <a class="presslink" href="http://www.usatoday.com/story/tech/2014/05/29/silicon-valley-tech-diversity-hiring-women-minorities/9735713/">is reflected in the challenges employers report</a> when recruiting tech talent of color. </p>

                    <p>In the last few years, coding schools and bootcamps have emerged as a popular and effective way to train technology neophytes and move them into entry-level tech jobs. Unfortunately, many of these programs, with tuition as high as $20,000, are cost-prohibitive. Code for Progress is a unique alternative to for-profit bootcamps--our no-cost, culturally-competent curriculum is custom designed for women and people of color who do not have a background in tech. Our intensive, 5-month coding and human centered design trainings prepare Fellows for careers as technologists, and our 7-months of post-residency support and continuing education ensures that Fellows are successful in their first year on the job.</p>

                    <p><small><b class='green_text'>References</b>
                    <br>1. Association for Computing Machinery & Computer Science Teachers Association. (2010). Running on Empty: The Failure to Teach K-12 Computer Science in the Digital Agehttp://www.acm.org/runningonempty/fullreport2.pdf
                    <br>2. The College Board. (2011). Advanced Placement data. Archived data 2011.http://www.collegeboard.com/student/testing/ap/exgrd_sum/2011.html.
                    <br>3. Kapor Center for Social Impact. (2013). Coding Nation: The Kapor Center Coding Landscape 2013 Report & Database).http://kaporcenter.org/wp-content/uploads/2013/10/Kapor_CodingLandscape_R3.pdf</small></p>

                    <br>
                    <h3 class="green_text">The program</h3> 
                    <p>Code for Progress is a progressive coding community that brings new professionals into the field through classroom training and structured alumni programming that supports and develops our community of graduates for one year. The training program starts with a 5-month residency, where students learn to code and navigate the professional environment, and get hands-on experience applying their skills to build tools for real organizations. The training is three-fold, including contemporary web development, human centered design, and professional development.</p>

                    <p>Code for Progress trainings cover:</p>
                    <p><b>Human Centered Design</b>, where graduated Fellows can:
                    • Analyze human needs and design digital tools to address them
                    • Apply analytical skills in evaluating the needs of communities and the organizations that wish to engage them
                    • Use web applications, mobile tools, and data tools to help communities build their power and capacity to create change</p>

                    <p><b>Professional Development</b>, where graduated Fellows can:
                    • Write strong resumes and cover letters
                    • Conduct an efficient job search
                    • Give strong interviews, articulate their skills and discuss their strengths
                    • Confidently dress for interviews, business and business-casual occasions
                    • Network effectively and feel comfortable identifying and developing mentors and asking for help</p>


                    <p><b>Contemporary web development</b>, where graduated Fellows can:
                    • Create dynamic interfaces for web pages and apps that area easy to use, even for novice computer users
                    • Use test-driven development to build working, bug-free applications that remain durable in the field
                    • Work as part of a team of developers that solves human problems with technological solutions
                    • Use contemporary application development technologies and have the foundation to learn new technologies as they emerge
                    • Write advanced code for data analysis
                    • Develop web applications from scratch
                    • Design databases to store and manage information
                    • Understand contemporary software design principles
                    CFP Fellows are trained to develop web applications using:
                    • PostgreSQL databases
                    • RESTful read/write APIs that use JSON and XML
                    • Python and JavaScript for backend code
                    • HTML 5.0, CSS 3.0, JavaScript/jQuery for front-end functionality and mobile-responsive design
                    • Flask and Django frameworks</p>


                    <br><h3 class='green_text'>What to expect from a Code for Progress Fellowship:</h3>
                    <p><b>For their 5-month residency, Fellows:</b> 
                    Receive housing and living stipends that allow them to live in DC and focus on learning
                    Attend class from 9am-5pm, Monday through Friday
                    Work with local organizations to develop technical solutions to real-world problems, understand the client-XXXX (provider?) relationship, and manage projects from start to finish
                    Are paired with a professional mentor who offers support throughout the yearlong Fellowship  
                    Have access to a robust team of technical coaches who are available during and outside of classroom hours to provide project support
                    Receive professional development coaching, including resume and cover letter workshops, job search support, professional networking opportunities, etc.</p>

                    <p><b>Post-Residency </b>
                    In the seven-month post-residency period, Fellows are expected to spend a total of 10 hours per month:
                    Attending a weekly 30-minute community call with Code for Progress staff, other participants, and guest attendees
                    Interacting weekly with their mentor as they move into and through new jobs and projects
                    Returning to the program to give back to future students (for example, by serving as a guest instructor, staffing open office hours, or mentoring a participant)</p>
                     
                    <p><b>For post-residency students and training alumni</b>, Code for Progress provides:
                    Opportunities for continuing education (like special topics trainings and alumni weekends)
                    Open office space for graduates to work and seek/provide community support on current projects
                    Continued staff and mentor support</p>

                </div>
            </div>
            <div class = "col-md-5 col-md-offset-1">
                <div class = "content">
                <br><img class = "img-responsive" src = "/static/img/cohort_dolores.png" alt = "2014 Code For Progress Staff and Fellows gather around Dolores Huerta">
                <p>Labor leader and civil rights activist Dolores Huerta visits Code for Progress to talk with 2014 fellows about the link between coding and organizing for social change.</p>
                </div>
            </div>
    </div>
</div>
        
        {% if messages %}
          {% for message in messages %}
                <div id="message" class="alert alert-{% if 'error' in message.tags %}danger{% else %}{{ message.tags }}{% endif %}">
                {{ message }}
                </div>
          {% endfor %}
        {% endif %}

    </div>
</div>

{% endblock %}