{% extends "base.html" %}
{% block container %}

<div class="jumbotron-title">
    <div class="container">
        <div class = "row">
            <div class = "col-md-5">
                <h1>About Code For Progress</h1>
            </div>
        </div>
    </div>
</div>
<div class = "container">
    <div class = "row">
        <br><br>
            <div class = "col-md-6">
                <div class = "content">
                    <h2 class="green_text">Code for Progress brings women and people of color into the coding workforce through holistic investment in their technical training and communities of support.</h2>


                    <br>
                    Quick links
                    <ul>
                        <li><a href="{% url 'about' %}#cfp_what" class="presslink">What is Code for Progress?</a></li>
                        <li><a href="{% url 'about' %}#cfp_why" class="presslink">Why Code for Progress?</a></li>
                        <li><a href="{% url 'about' %}#cfp_program" class="presslink">The program</a></li>
                        <li><a href="{% url 'about' %}#cfp_expect" class="presslink">What to expect during the fellowship</a></li>

                    </ul>

                    <br><br><a name="cfp_what"></a><h3 class="green_text">What is Code for Progress?</h3>
                    <p>Our year-long fellowship starts with a five-month residency in Washington DC, where participants are trained in coding and human centered design, and are coached and mentored by talented local professionals. <span class="green_text read_more what_cfp">Read more...</span><span class="hidden_content what_cfp"><br>All Code for Progress fellows receive a monthly stipend and housing allowance during their residency in DC. Then, we facilitate their transition into the tech sector where they use their skills as junior developers, database managers, innovation specialists, and other first coding positions. In the seven-month post-residency period, fellows are supported on the job with weekly check-in calls, ongoing professional mentorship and technical coaching, and opportunities to build new skills.

                    <br><br>By intentionally removing barriers to technological training for women and people of color, Code for Progress cultivates a growing community of diverse professionals who have the technical skills and cultural competency to bring innovation to non-profits, government and industry.</p></span>


                    
                    <br><a name="cfp_why"></a><h3 class='green_text'>Why Code for Progress?</h3>

                    <p>Identifying, recruiting, and training future leaders in technology has primarily fallen to a network of more than 150 nonprofit organizations and private companies. An October 2010 report published by the Association for Computing Machinery and the Computer Science Teachers Association documented the shocking state of computer science education in the U.S.1 Only 14 states had adopted significant education standards for high school computer science. Most states focused on basic skills such as keyboarding and using the Internet, rather than high-level concepts needed for 21st century jobs such as understanding and applying algorithmic and computational thinking. <span class="green_text read_more why_cfp">Read more...</span><span class="hidden_content why_cfp"> 

                    <br>As schools continue to focus funding on subjects recognized as core disciplines, few students have the opportunity to take rigorous, engaging computer science courses, and among those who do, there is little ethnic diversity. According to 2011 data compiled by the College Board on Advanced Placement Computer Science test-takers, only 15% were women, 3% were African American, and 6% were Latino.2 Similar issues are apparent in adult education programs that workers depend on to keep them hireable. The Kapor Center for Social Impact recently published a report identifying 153 programs that teach the basics of coding or computer science to both youth and adults.3 According to our analysis, of these programs, less than 5% had a stated mission of working with historically underrepresented populations.

                    <br><br>This lack of availability and access to affordable workforce development and technology training for underrepresented communities <a class="presslink" href="http://www.usatoday.com/story/tech/2014/05/29/silicon-valley-tech-diversity-hiring-women-minorities/9735713/">is reflected in the challenges employers report</a> when recruiting tech talent of color.

                    <br><br>In the last few years, coding schools and bootcamps have emerged as a popular and effective way to train technology neophytes and move them into entry-level tech jobs. Unfortunately, many of these programs, with tuition as high as $20,000, are cost-prohibitive. Code for Progress is a unique alternative to for-profit bootcamps--our no-cost, culturally-competent curriculum is custom designed for women and people of color who do not have a background in tech. Our intensive, 5-month coding and human centered design trainings prepare Fellows for careers as technologists, and our 7-months of post-residency support and continuing education ensures that Fellows are successful in their first year on the job.

                    <div class="hidden_content why_cfp"><small><span class='green_text'>References</span>
                        <ol>
                        <li> Association for Computing Machinery & Computer Science Teachers Association. (2010). Running on Empty: The Failure to Teach K-12 Computer Science in the Digital Age. <a class="presslink" href="http://www.acm.org/runningonempty/fullreport2.pdf">http://www.acm.org/runningonempty/fullreport2.pdf</a>
                        <li>The College Board. (2011). Advanced Placement data. Archived data 2011. <a class="presslink" href="http://www.collegeboard.com/student/testing/ap/exgrd_sum/2011.html">http://www.collegeboard.com/student/testing/ap/exgrd_sum/2011.html</a>.
                        <li>Kapor Center for Social Impact. (2013). Coding Nation: The Kapor Center Coding Landscape 2013 Report & Database). <a class="presslink" href="http://kaporcenter.org/wp-content/uploads/2013/10/Kapor_CodingLandscape_R3.pdf">http://kaporcenter.org/wp-content/uploads/2013/10/Kapor_CodingLandscape_R3.pdf</a>
                        </ol>
                    </small></div></span>

                    <br>
                    <h3 class="green_text"><a name="cfp_program"></a>The program</h3>
                    <p>Code for Progress is a progressive coding community that brings new professionals into the field through classroom training and structured alumni programming that supports and develops our community of graduates for one year. 
                    <span class="green_text read_more program_cfp">Read more...</span><section class="hidden_content program_cfp"> The training program starts with a 5-month residency, where students learn to code (in HTML, CSS, JavaScript, Python, and SQL), navigate the professional environment, and get hands-on experience applying their skills to build tools for real organizations.</p>

                    The three-fold training covers:
                    <ul>
                    <br><b>Human Centered Design</b>, where graduates are able to:
                        <ul>
                        <li>Analyze human needs and design digital tools to address them
                        <li>Apply analytical skills in evaluating the needs of communities and the organizations that wish to engage them
                        <li>Use web applications, mobile tools, and data tools to help communities build their power and capacity to create change
                        </ul>

                    <br><b>Professional Development</b>, where graduates are able to:
                        <ul>
                        <li>Write strong resumes and cover letters
                        <li>Conduct an efficient job search
                        <li>Give strong interviews, articulate their skills and discuss their strengths
                        <li>Confidently dress for interviews, business and business-casual occasions
                        <li>Network effectively and feel comfortable identifying and developing mentors and asking for help
                        </ul>
   


                    <br><b>Contemporary web development</b>, where graduates are able to:
                        <ul>
                        <li>Create dynamic, mobile-responsive interfaces for web pages and apps that area easy to use, even for novice computer users
                        <li>Use test-driven development to build working, bug-free applications that remain durable in the field
                        <li>Work as part of a team of developers that solves human problems with technological solutions
                        <li>Establish the information literacy to learn new technologies as they emerge
                        <li>Write code for basic data analysis
                        <li>Design databases to store and manage information 
                        <li>Understand contemporary software design principles
                        <li>Manipulate RESTful APIs to make use of XML and JSON data
                        <li>Use HTML 5.0, CSS 3.0, and JavaScript/jQuery for front-end coding
                        <li>Use Python and SQL for back-end coding
                        <li>Use Angular.js and Django frameworks to build apps and mobile-responsive sites quickly
                        </ul>
                    </ul>
                </section>


                    <br><a name="cfp_expect"></a><h3 class='green_text'>What to expect from a Code for Progress Fellowship</h3>
                    <br><b>For their 5-month residency, fellows:</b> 
                        <ul>
                        <li>Receive housing and living stipends that allow them to live in DC and focus on learning
                        <li>Attend class from 9am-5pm, Monday through Friday
                        <li>Work with local organizations to develop technical solutions to real-world problems, understand the client-developer relationship, and manage projects from start to finish
                        <br><span class="green_text read_more expect_cfp">Read more...</span><section class="hidden_content expect_cfp">
                        <li>Are paired with a professional mentor who offers support throughout the yearlong Fellowship  
                        <li>Have access to a robust team of technical coaches who are available during and outside of classroom hours to provide project support
                        <li>Receive professional development coaching, including resume and cover letter workshops, job search support, professional networking opportunities, etc.
                        </ul></section>
          

                    <section class="hidden_content expect_cfp"><br><b>In the seven-month post-residency period</b>, fellows are expected to spend a total of 10 hours per month:
                        <ul>
                        <li>Attending a weekly 30-minute community call with Code for Progress staff, other participants, and guest attendees
                        <li>Interacting weekly with their mentor as they move into and through new jobs and projects
                        <li>Returning to the program to give back to future students (for example, by serving as a guest instructor, staffing open office hours, or mentoring a participant)
                        </ul>
                    </section>
           
                    <section class="hidden_content expect_cfp"><br><b>For post-residency</b> fellows and program alumni, Code for Progress provides:
                        <ul>
                        <li>Opportunities for continuing education (like special topics trainings and alumni weekends)
                        <li>Open office space for graduates to work and seek/provide community support on current projects
                        <li>Continued staff and mentor support
                        </ul>
                    </section>

                </div>
            </div>
            <div class = "col-md-5 col-md-offset-1">
                <div class = "content">
                <br><img class = "img-responsive" src = "/static/img/cohort_dolores.png" alt = "2014 Code For Progress Staff and Fellows gather around Dolores Huerta">
                <p>Labor leader and civil rights activist Dolores Huerta visits Code for Progress to talk with 2014 fellows about the link between coding and organizing for social change.</p>
                </div>
            </div>
    </div>
</div>
        
        {% if messages %}
          {% for message in messages %}
                <div id="message" class="alert alert-{% if 'error' in message.tags %}danger{% else %}{{ message.tags }}{% endif %}">
                {{ message }}
                </div>
          {% endfor %}
        {% endif %}

    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script>

$('document').ready(function() {
        $('.read_more.what_cfp').on('click', function() {
            $(this).hide();
            $('.hidden_content.what_cfp').slideDown();
        });

        $('.read_more.why_cfp').on('click', function() {
            $(this).hide();
            $('.hidden_content.why_cfp').slideDown();
        });

        $('.read_more.program_cfp').on('click', function() {
            $(this).hide();
            $('.hidden_content.program_cfp').slideDown();
        });

        $('.read_more.expect_cfp').on('click', function() {
            $(this).hide();
            $('.hidden_content.expect_cfp').slideDown();
        });

});



</script>

{% endblock %}