{% extends "base.html" %}
{% block container %}

<div class="jumbotron-about">
    <div class="container">
        <h1>What is Code For Progress?</h1>
        <p class="tagline">
            Solving 21st century social inequality requires putting power in the hands of the people affected. Code for Progress intends to do that by training people to build the digital tools they’ll use to communicate, organize, and mobilize in their communities. Code for Progress is looking for applicants from communities historically excluded from the process of developing technologies for the social justice movement – low-income people, LGBTQ folks, people of color, and women. We believe that people who can bring their communities’ experience into building the tools we use in the movement are the people who will carry us past roadblocks to building power.

            Our year-long program starts with a 18-week residency in Washington DC, where participants learn to code and navigate the professional social justice environment. All participants receive a monthly stipend and housing allowance during their time in DC. Then, we facilitate their transition into jobs at social justice organizations where they can use their skills and experience to enhance organizational capacity. Code for Progress supports our participants post-residency with a vibrant alumni community and professional mentorship team.
        </p>
        
        {% if messages %}
          {% for message in messages %}
                <div id="message" class="alert alert-{% if 'error' in message.tags %}danger{% else %}{{ message.tags }}{% endif %}">
                {{ message }}
                </div>
          {% endfor %}
        {% endif %}

    </div>
</div>

{% endblock %}