{% extends "base.html" %}
{% block container %}

<div class="jumbotron-apply">
    <div class="container">
        <div class ="row">
            <div class = "col-md-1">
                <h1>Apply</h1>
            </div>
        </div>
    </div>
</div>  
      <div class = "container">
        <div class = "row">
            <div class = "col-md-6">
                <div class = "content">
                    <h2>Apply to Code for Progress</h2>
                    <p class="tagline">
                        Our portal for accepting applications to the 2014 class has now closed. If you’d like to be the first to receive the application link for the 2015 class,<a class = 'presslink' href="{% url 'contact' %}"> sign up here</a>.
                    </p>

                    <h2>The Code for Progress "ideal" applicant</h2>

                    <p class="tagline">
                        We know that applicants bring different strengths to our program, so we don’t expect everyone to embody all of these characteristics. But there are a few things that we think make people a good fit for our program.

                        The ideal Code for Progress applicant:

                        <ul>
                            <li>Wants to use this program as an entry point into the professional social justice movement</li>
                            <li>Has encountered barriers to accessing education, jobs, and resources</li>
                            <li>Likes to solve problems with creative solutions</li>
                            <li>Is good at reading a situation and identifying specific human needs</li>
                            <li>Has patience when working through obstacles</li>
                            <li>Looks for ways to teach and mentor others</li>
                            <li>Is willing to ask for help</li>
                            <li>Likes to figure out how things work</li>
                            <li>Has an idea for a digital tool that can help to address a need in their community or organization</li>
                            <li>Is comfortable using a word processor, email, and web browser</li>
                        </ul>
                    </p>
                </div>
            </div>
        </div>
        </div>
        {% if messages %}
          {% for message in messages %}
                <div id="message" class="alert alert-{% if 'error' in message.tags %}danger{% else %}{{ message.tags }}{% endif %}">
                {{ message }}
                </div>
          {% endfor %}
        {% endif %}
{% endblock %}