{% extends "base.html" %}
{% block container %}

<div class="jumbotron-title">
    <div class="container">
        <div class = "row">
            <div class = "col-md-6">
                <h1>Get Involved</h1>
            </div>
        </div>
    </div>
</div>
<div class = "container">
    <div class = "row">
        <div class = "col-md-6">
            <div class = "content">

                <br><h3 class="green_text"><b>8 things you can do today</b> to start learning or volunteer in a diverse community of coders</h3>

                <br>
                <p><b>1. Attend an event with us</b><br>
                Intimidated by the hackathon and meet-up scene? Rather go with a friend than show up alone? <a class="presslink" href="{% url 'contact' %}">Get in touch with us</a> to find out which tech events we're attending and make plans to attend with one of our staff or fellows.</p>

                <br><p><b>2. Starting learning in a welcoming community </b><br>
                Join us every Thursday for Community Hack Night, from 6-9pm at the RISE Demonstration Center (2730 MLK Jr Ave SE, Washington, DC).</p>
                <p>Stay as long as you like and talk to peer learners about how to get started in coding and app design. We provide computers, but feel free to bring your own.</p>
                <p>Need help getting to RISE? <a class="presslink" href="http://www.youtube.com/watch?v=kvpxAYcov-k">Watch our video</a> for public transit directions.</p>

                <br><p><b>3. Mentor a fellow</b><br>
                Invest in the success of a Code for Progress Fellow by <a class="presslink" href="{% url 'contact' %}">volunteering as a one-on-one mentor</a>.</p>

                <br><p><b>4. Teach or coach on a skill</b><br>
                <a class="presslink" href="{% url 'contact' %}">Spend some time in the classroom</a> running a workshop in your area of expertise - like resume building, networking, project management, or a coding skill.</p>

                <br><p><b>5. Make an introduction</b><br>
                Know of the perfect future fellow, partner organization, or guest instructor? <a class="presslink" href="{% url 'contact' %}">Let us know!</a></p>

                <br><p><b>6. Get updates</b>
                <br><a class="presslink" href="{% url 'contact' %}">Stay up to date</a> on the latest Code for Progress news.</p>

                <br><p><b>7. Donate</b><br>
                Make a <a class="presslink" href="{% url 'donate' %}">one-time donation</a> or <a class="presslink" href="{% url 'donate' %}">sign up to give</a> every month.</p>

                <br><p><b>8. Volunteer another way</b><br>
                Have a passion for tech and social change but need a different way to channel it? <a class="presslink" href="{% url 'contact' %}">Send us a note</a> and we'll help you find a way that works.</p>

            </div>
        </div>
        <div class = "col-lg-5 col-lg-offset-1">
            <div class = "content">
                <br><br><img class = "img-responsive" src = "/static/img/aurea_mentor.png" alt = "Fellow, Aurea Martinez with mentor, Hibah Hussain at 2014 Code For Progress Graduation">
                <p> 2014 fellow <a class="presslink" href="{% url 'fellow' fellow_firstname='Aurea' %}">Aurea Martinez</a> attends graduation with Hibah Hussain, Code for Progress mentor and Public Policy Analyst at Google.</p>
            </div>
        </div>
    </div>
</div>

        {% if messages %}
          {% for message in messages %}
                <div id="message" class="alert alert-{% if 'error' in message.tags %}danger{% else %}{{ message.tags }}{% endif %}">
                {{ message }}
                </div>
          {% endfor %}
        {% endif %}

{% endblock %}