{% extends "base.html" %}
{% block container %}





<div class="jumbotron-contact">
    <div class="container">
        <div class ="row">
          <div class = "col-md-6">
                <h1>Contact Us</h1>
            </div>
        </div>
    </div>
</div>

<div class="form-errors">

          {% if form.errors %}
            {% for field in form %}
              {% for error in field.errors %}
              <div class="alert alert-error">
                  <strong>{% if field.label == "Interested in" %}I want to{% else %}{{ field.label }}{% endif %} - {{ error|escape }}</strong>
              </div>
              {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
                <div class="alert alert-error">
                    {{ error|escape }}
                </div>
            {% endfor %}
          {% endif %}

    </div>





<div class = "container">
  <div class = "row">
    <div class = "col-md-8">
      <div class = "content">
        <form class="form-horizontal" role="form" action='.' method='post'>
        {% csrf_token %}
            <div class="form-group{% if field.errors %} has-error{% endif %}">
              <label class="col-md-2 control-label" >First name <span class = "required">*</span></label>
              <div class="col-md-5"> 
                {{ form.first_name }}
              </div>
            </div>

            <div class="form-group{% if field.errors %} has-error{% endif %}">
              <label class="col-md-2 control-label" >Last name*</label>
              <div class = "col-md-5">
              {{ form.last_name }}
              </div>
            </div>


            <div class="form-group{% if field.errors %} has-error{% endif %}">
              <label class="col-md-2 control-label">Email*</label>
              <div class= "col-md-5">
              {{ form.email }}
              </div>
            </div>

            <div class="form-group{% if field.errors %} has-error{% endif %}">      
              <label class="col-md-2 control-label">I want to:*</label>
              <div class="col-md-6">
                {{ form.interested_in }}
              </div>
            </div>

            <div class="form-group{% if field.errors %} has-error{% endif %}">
              <label class="col-md-2 control-label">Notes</label>
              <div class= "col-md-5">
              {{form.notes}}
              </div>
            </div>
              
              <div class="explain-required">
                {{'Fields marked with <span class="required">*</span> are required' }}
              </div>
                <hr>

            <div class="form-group">
              <div> 
              <button class="btn btn-primary" type="submit" value="Submit">Send!</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>  

{% endblock %}

