{% extends "base.html" %}
{% block container %}





<div class="jumbotron-title">
    <div class="container">
        <div class ="row">
          <div class = "col-md-6">
                <h1>Contact Us</h1>
            </div>
        </div>
    </div>
</div>

<div class="form-errors">

          {% if form.errors %}
            {% for field in form %}
              {% for error in field.errors %}
              <div class="alert alert-error">
                  <strong>{% if field.label == "Interested in" %}I want to{% else %}{{ field.label }}{% endif %} - {{ error|escape }}</strong>
              </div>
              {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
                <div class="alert alert-error">
                    {{ error|escape }}
                </div>
            {% endfor %}
          {% endif %}

    </div>





<div class = "container">
  <div class = "row">
    <div class = "col-md-8">
      <div class = "content">
        <form class="form-horizontal" role="form" action='.' method='post'>
        {% csrf_token %}
        <div class="explain-required">
          {{'Fields marked with <span class="required">*</span> are required' }}
        </div>
        <hr>
            <div class="form-group{% if field.errors %} has-error{% endif %}">
              <label class="col-md-2 control-label" >First name*</label>
              <div class="col-md-6"> 
                {{ form.first_name }}
              </div>
            </div>

            <div class="form-group{% if field.errors %} has-error{% endif %}">
              <label class="col-md-2 control-label" >Last name*</label>
              <div class = "col-md-6">
              {{ form.last_name }}
              </div>
            </div>


            <div class="form-group{% if field.errors %} has-error{% endif %}">
              <label class="col-md-2 control-label">Email*</label>
              <div class= "col-md-6">
              {{ form.email }}
              </div>
            </div>

            <div class="form-group{% if field.errors %} has-error{% endif %}">      
              <label class="col-md-2 control-label">I want to*</label>
              <div class="col-md-7">
                {{ form.interested_in }}
              </div>
            </div>

            <div class="form-group{% if field.errors %} has-error{% endif %}">
              <label class="col-md-2 control-label">Message</label>
              <div class= "col-md-6">
              {{form.notes}}
              </div>
            </div>
            <hr>

              <div class="form-group col-md-12">
                <button class="btn btn-contact btn-lg" type="submit" value="Submit">Send </button>
                <a class="btn btn-contact btn-lg" href="{% url 'index' %}" role="button">Back</a>
              </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>  

{% endblock %}

