{% extends "base.html" %}
{% block container %}

<div class="jumbotron-title">
    <div class="container">
        <div class = "row">
            <div class = "col-md-4">
                <h1>Give your support</h1>
            </div>
        </div>
    </div>
</div>
<div class = "container">
    <div class = "row">
        <div class = "col-md-8">
            <div class = "content">
                <br>
                 <h3>  <a href='http://giv.lt/1u3WcOf
' class='on-checkout'> <img src='https://ordernow_prod.s3.amazonaws.com/img/TheGivletButton.png' /> </a> <script type='text/javascript' src='https://ordernow_prod.s3.amazonaws.com/js/givlet-widget-latest.js'> </script> to Code for Progress and help us build a pipeline from communities of color into the coding workforce.</h3>

                <!--<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                <input type="hidden" name="cmd" value="_s-xclick">
                <input type="hidden" name="hosted_button_id" value="5772KUHYBUX8C">
                
                <br><br><br><h3>
                <input type="image" width=100 src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_SM.gif" border="0" name="submit" alt="PayPal"> to Code for Progress and help us build a pipeline from communities of color into the coding workforce.</h3>.
                <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                </form> -->

                <br><br><br><br>
                <a class="presslink" href="{% url 'home' %}">Back to home page.</a>

            </div>
        </div>
    </div>
</div>    

        {% if messages %}
          {% for message in messages %}
                <div id="message" class="alert alert-{% if 'error' in message.tags %}danger{% else %}{{ message.tags }}{% endif %}">
                {{ message }}
                </div>
          {% endfor %}
        {% endif %}

{% endblock %}