{% extends "base.html" %}
{% block container %}

<div class="jumbotron-donate">
    <div class="container">
        <h1>Give your support</h1>
        <p class="tagline">
            Content or action buttons for donations

        </p>
        
        {% if messages %}
          {% for message in messages %}
                <div id="message" class="alert alert-{% if 'error' in message.tags %}danger{% else %}{{ message.tags }}{% endif %}">
                {{ message }}
                </div>
          {% endfor %}
        {% endif %}

    </div>
</div>
{% endblock %}