{% extends "base.html" %}
{% block container %}

<div class="jumbotron-donate">
    <div class="container">
        <div class = "row">
            <div class = "col-md-4">
                <h1>Give your support</h1>
            </div>
        </div>
    </div>
</div>
<div class = "container">
    <div class = "row">
        <div class = "col-md-6">
            <div class = "content">
                <h2>Donate</h2>
                    Content here or button to lead people to donate.

            </div>
        </div>
    </div>
</div>    

        {% if messages %}
          {% for message in messages %}
                <div id="message" class="alert alert-{% if 'error' in message.tags %}danger{% else %}{{ message.tags }}{% endif %}">
                {{ message }}
                </div>
          {% endfor %}
        {% endif %}

{% endblock %}