{% extends "base.html" %}
{% block container %}				

{% load staticfiles %}


<div class="jumbotron-title">
    <div class="container">
          <div class = "row">
          	     <a href="{% url 'staff_fellows' %}">
 				 <h3 class="presslink"><  Back to staff and fellows</h3>
				</a>
		  </div>
    </div>
</div>
				

<div class= "container">
	<br><br>
	<div class="row">
		<div class="col-md-4 col-md-offset-2">
			<img width="300" height="300" src="{% static 'img/'%}michelle_small_headshot.jpg" alt='Executive Director' />
		</div>
		<div class = "col-md-5">
         <h1>Executive Director</h1>
         <h3>Michelle Fox</h3>            
		 <br><br>
		 <p>Michelle Fox is the first generation child of a Haitian immigrant turned proud SEIU 1199 member, who taught lessons of feminism and social and economic justice at the dinner table.</p>

		 <p>Michelle began her career as an unofficial campus organizer and jumped on her first campaign shortly after graduation. She wandered these United States for a few years with a band of merry field organizers, and settled in DC to work in the administration of Mayor Adrian Fenty. Most recently, she was the VP of Operations for a non-political tech-start up based in DC.</p>

		 <p>Michelle comes to Code for Progress with a passion for social justice and fostering economic mobility, and a wealth of organizing and operations experience. She lives in Washington DC with her partner, Maddy, and their dog, Zoey Fox Melton. </p>
		</div>			
	</div>
</div>
				
								
		
{% endblock %}																									