{% extends "base.html" %}
{% block container %}				

{% load staticfiles %}

<div class="clear"></div>
	</div>
		</div>
		</header>
		<!-- #masthead .site-header -->
	<div class="item teaser-page-list">
		<div class="container_16">
			<aside class="grid_10">
				<h1 class="page-title">{{fellow.first_name}} {{fellow.last_name}}</h1>
			</aside>
			<div class="grid_6">
				<div id="rootline">
									</div>
			</div>
			<div class="clear"></div>
		</div>
	</div>
	
	<div id="main" class="site-main container_16">
		<div class="inner">
		<div class="candidate-margins">	 
			<div>
				<img width="200" height="200" src="{% static 'img/'%}{{fellow.first_name}}.png" class="attachment-candidate-thumb wp-post-image" alt='{{fellow.firstname}}' />
				<div class="position"> {{fellow.where_from}}</div>
				<div><b>What's something you built during the residency that you're proud of?</b>: {{fellow.post_2014_residency_q1}} </div>

				<div><b>What's your favorite programming language?</b>: {{fellow.post_2014_residency_q2}} </div>

				<div><b>How has your vision for the role of tech in your community's life changed since April?</b>: {{fellow.post_2014_residency_q3}} </div>

				<div><b>What did you do post-residency to relax and recharge?</b>: {{fellow.post_2014_residency_q4}} </div>				
			</div>
		
		</div>
	</div>
				
	
				
								
		
{% endblock %}																									