{% extends "base.html" %}
{% block container %}

<div class="jumbotron-title">
    <div class="container">
        <div class = "row">
            <div class = "col-md-6">
                <h1>Community Hack Night</h1>
            </div>
        </div>
    </div>
</div>
<div class = "container">
    <div class = "row">
        <div class = "col-md-6">
            <div class = "content">

                <br><h3 class="green_text">Start learning or volunteering at Community Hack Night</h3>

                <br>
                <p><b>Hack nights happen every Thursday from 6-9pm - and if you think of yourself as a learning coder, they are for you.</b></p>

                <p>Hack nights are currently at our temporary location in Northwest DC, on the second floor of Bread for the City (1525 7th Street NW, Washington, DC). We share the coding space with our friends at <a class="presslink" href="http://www.hearmecode.com">Hear Me Code</a>, a great organization that teaches women to code for free.</p>

                
                <br><p><b>Who comes to Hack Night?</b><br>
                
                <p>People who have never coded before come to Hack Night. People who have coded for many years come to Hack Night. Sometimes people code at hack night. Sometimes they talk about app ideas without ever touching a computer. And sometimes women and people of color interested in tech show up just to be around other people who share their experiences, regardless of their skill levels.</p>
                <p>Hack Night evolved organically because there is a lack of diversity in the coding workforce, and because folks wanted a place they could go every week that exists primarily to lift up the inherent worth of people of color, women and trans* folks, LGBT people, low-income people, and disability communities as innovators in the coding world. If you share our values and want to put in time to build the strength of our communities through code, this space is for you.</p>

                <!--<p>Need help getting to RISE? <a class="presslink" href="http://www.youtube.com/watch?v=kvpxAYcov-k">Watch our video</a> for public transit directions.</p> -->

                <br><p><b>How does Hack Night work?</b><br>
                <p>You can arrive and leave any time between 6 and 9pm. We promise we'll always say hello when you walk in, and if you're new we'll introduce you to someone who can help you get comfortable in the space. At 6:45pm, we always pause to do a round of introductions and hear about skills that people can ask or offer. There is usually a mini-lesson happening from 7-8pm. Otherwise, people spend the time learning with each other, offering to coach someone who asked for help on a specific skill, or working on websites or apps that are important to them and that are often connected to social justice issues. If you have a computer and a safe means of transport, you should bring it - otherwise, we have machines that you can use.</p>
    


                <br><p><b>I'm not a woman or person of color. Can I come?</b><br>
                <p>Yes. Hack Night is a majority people of color and women space because the general tech industry is not - but we believe allies are vital to the work we do in diversifying tech and building a world driven by racial and gender justice. Remember that being an ally is not just a feeling or a donation but a daily practice - so if you live that practice when you are here, you'll be warmly welcomed. Come prepared to help move chairs and wash dishes, assume that you are also a learner and that there is a great deal of expertise in the room that you don't have, and/or be the one to initiate a conversation when you've heard someone say they are working on a project that you could support. We advise against coming solely to recruit for jobs or to do your own work or research without a plan for contributing to the learning community.</p>
                

                <br><p><b>I'm from a group underrepresented in tech, and I want to start a Hack Night in my city. How do I do that?</b><br>
                <p>We get this question a lot, and we'd love to talk with you! <a class="presslink" href="{% url 'contact' %}"> Send us a note</a>.</p>




            </div>
        </div>
        
        <div class = "col-md-5 col-md-offset-1">
            <div class = "content">
                <div class="greybox">
                    <h2>Hack Night mini-lesson schedule</h2>
                    <hr>
                    <p>Note that not every Hack Night has a lesson, but we do hold Hack Night every Thursday except on federal holidays.</p>
                    <p>Want to teach a mini-lesson for beginners? <a class="presslink" href="{% url 'contact' %}">Write to us</a> to get signed up.</p>
                    <br>
                    <ul>
                        <li><b>Dec 18, 2014</b> Re-entry in DC and HearMeCode Python Lesson 1 (with <a class="presslink" href="http://www.twitter.com/shannonturner"> @shannonturner</a> and <a class="presslink" href="http://www.twitter.com/mission_launch">@mission_launch</a>)</li>
                        
                        <li><b>Jan 5, 2015</b> HearMeCode Python Lesson 1.5 (with <a class="presslink" href="http://www.twitter.com/shannonturner">@shannonturner)</a></li>
                        
                        <li><b>Jan 5</b> Discussion: "Support for Black 
                        Humanity in Tech"</li>
                        
                        <li><b>Jan 12</b> Wireframes. What? (with <a class="presslink" href="http://www.twitter.com/aliyarahman">@aliyarahman</a>)</li>
                        
                        <li><b>Jan 19</b> Discussion: Tech, Racial Justice, and Dr. King's Concept of the Beloved Community (with <a class="presslink" href="http://www.twitter.com/mariellaP123">@mariellaP123</a>)</li>
                        
                        <li><b>Feb 5</b> Databases, SQL, and the Voting Rights Act (with <a class="presslink" href="http://www.twitter.com/rachel_shorey">@rachel_shorey</a>)</li>
                        
                        <li><b>Feb 12</b> A Beginner's Guide to CSS, HTML, and Beyonce (with <a class="presslink" href="http://www.twitter.com/mariellaP123">@mariellaP123</a>)</li>
                        
                        <li><b>Feb 19</b> Data Science is Not Magic: A total beginner's intro to R (with <a class="presslink" href="http://www.twitter.com/planarrowspace">@planarrowspace</a>)</li>
                        
                        <li><b>Feb 26</b> Black Entrepeneurship (with TechNoir) </li>
                        
                        <li><b>March 19</b> Github Workflow For Teams (with <a class="presslink" href="http://www.twitter.com/pumzi_code">@pumzi_code</a>)</li> 
                    </ul>
                </div>               
            </div>
        
        </div>
    </div>
</div>

        {% if messages %}
          {% for message in messages %}
                <div id="message" class="alert alert-{% if 'error' in message.tags %}danger{% else %}{{ message.tags }}{% endif %}">
                {{ message }}
                </div>
          {% endfor %}
        {% endif %}

{% endblock %}
