{% extends "base.html" %}
{% block container %}

<div class="jumbotron">
    <div class="container">
       <form class="landing--form form-inline" role="form" method="post" action="resources/"> 
         <div class='change'>
        <h1>Change the face of tech.</h1>
         </div>
         <div id='tag'>
        <p class="tagline">By fostering a new wave of social justice-minded coders.</p>
        </div>
    </form>
        {% if messages %}
          {% for message in messages %}
                <div id="message" class="alert alert-{% if 'error' in message.tags %}danger{% else %}{{ message.tags }}{% endif %}">
                {{ message }}
                </div>
          {% endfor %}
        {% endif %}

    </div>
</div>

<div class=''>
<main class="container">
    <div class="row">
            <div class="col-md-4">
                <p><a class="btn btn-default" href="{% url 'apply' %}" role="button">Applicants »</a></p>
                <p> I want to be a 2015 Fellow. 
            </div>
            <div class="col-md-4">
                    <p><a class="btn btn-default" href="{% url 'donate' %}" role="button">Individual Supporters »</a></p>
                    <p> I'm an individual who wants to give time or donate to the Code for Progress community.</p>
            </div>
        <div class="col-md-4">
            <p><a class="btn btn-default" href="{% url 'partner' %}" role="button">Organizations »</a></p>
            <p>I'm part of an organization, foundation, or company that wants to partner with Code for Progress.</p>
        </div>
    </div>

</main>

</div>
{% endblock %}
