{% extends "base.html" %}
{% block container %}
{% load staticfiles %}

    <div class="jumbotron">
        <img src="{% static 'img/grad_banner.jpg' %}">
        <div class="col-md-4 col-xs-4 col-sm-4 col-lg-4 change">
                <h1>Change the face of tech.</h1>
        </div>
    </div>
    
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <a class="btn btn-primary btn-lg" href="{% url 'apply' %}" role="button">Apply »</a>
                <h4 class = "buttontagline"> Learn how you can be a 2015 fellow.</h4> 
            </div>

            <div class="col-md-4">
                <a class="btn btn-primary btn-lg" href="{% url 'community' %}" role="button">Get Involved »</a>
                <h4 class = "buttontagline"> Attend an event with us, coach a fellow, or start learning to code as part of our community.</h4>
            </div>

            <div class="col-md-4">
                <a class="btn btn-primary btn-lg" href="{% url 'partner' %}" role="button">Partner »</a>
                <h4 class = "buttontagline">Find out how your organization, company, or foundation can collaborate with Code for Progress.</h4>
            </div>
        </div>
    </div>


</div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script>
$('.jumbotron').each(function() {
    var obj = $(this);
    var imgHeight = $('img',obj).height();
    console.log(imgHeight);
    $(this).height(imgHeight);
});

$( window ).resize(function() {
  $('.jumbotron').each(function() {
    var obj = $(this);
    var imgHeight = $('img',obj).height();
    console.log(imgHeight);
    $(this).height(imgHeight);
});
});



</script>

{% endblock %}