{% extends "base.html" %}
{% block container %}
{% load staticfiles %}

<div class="jumbotron-title">
    <div class="container">
        <div class = "row">
            <div class = "col-md-5">
                <h1>About Code For Progress</h1>
            </div>
        </div>
    </div>
</div>
<div class = "container">
    <div class = "row">
        <br><br>
            <div class = "col-md-6">
                <div class = "content">
                    <h2 class="green_text">The Code for Progress curriculum covers full-stack, user-centered, agile software development and professional skills for the contemporary coding workforce.</h2>


                    <br>
                    Quick links
                    <ul>
                        <li><a href="{% url 'learn' %}#stacks" class="presslink">Stacks on stacks on stacks: A regular folks' guide to how code fits together to make apps and sites</a></li>
                        <li><a href="{% url 'learn' %}#schedule" class="presslink">Weekly schedule: The official course of learning for the CFP fellowship</a></li>
                        <li><a href="{% url 'learn' %}#badges" class="presslink">Badges: Achievements to work towards as you learn to code</a></li>
                        <li><a href="{% url 'learn' %}#words" class="presslink">All these words: Basic coding vocabulary for non-coders</a></li>

                    </ul>

                    <br><br><a name="stacks"></a><h3 class="green_text">Stacks on stacks on stacks</h3>
                    <p> Learning to code is really just about learning how to give good instructions to different kinds of machines and computer programs - in a language they can understand. The basic idea is not very different from helping a toddler learn to eat with a spoon or pick up their toys - we teach them combinations of simple steps that let them eventually do things on their own. <span class="green_text read_more stacks">Read more...</span></p>

                    <p><span class="hidden_content stacks"><br>Just as humans aren't born with the skills to talk to each other, coders aren't born with the skills to talk to machines. We have to learn and practice words and languages that help us do the things we want, and our language changes depending on who or what we're talking to. Apps and website uses a bunch of different programs and machines to function - all <b>stacked</b> up in a specific order, using different languages to communicate between each other (sometimes over a very long distance).</span></p>

                    <p><span class="hidden_content stacks"><br>Sometimes, professional coders specialize in just part of this stack of machines and languages. The people who are really good at talking to the machines closest to your eyes and fingers when you're using an app are called <b>"front end"</b> developers. They speak <b>"client-side"</b> languages filled with instructions for how to make things show up on a screen and react to your movements. The people who talk to the machines that hold the central brains of the app or website are called <b>"back-end"</b> developers, and they speak "server-side" languages that know how to do calculations, dig back into memory, and pass information along to the front end.</span></p>

                    <p><span class="hidden_content stacks"><br>Code for Progress teaches "full stack" app development, which means we teach the languages that coders need to talk to both the front end and the back end of the app or website's stack, plus a couple of <b>'frameworks"</b>, which are tools that coders use to make the front end and back end talk to each other easily and efficiently. Our front-end languages are HTML, CSS, and JavaSript. Our back-end languages are Python and SQL. Our frameworks are Angular.js and Django.</span></p>

                    <p><span class="hidden_content stacks"><br>Of course, just like in everyday life, giving good instructions means knowing how to listen, reflect, and plan too. There are lots of different ways that coders plan out what they are going to build and understand who they are building it for. CFP teaches<b> human-centered design</b> and <b>agile project management</b> as our primary listening and planning tools.</span></p>

                    
                    <br><br><a name="schedule"></a><h3 class='green_text'>Weekly schedule</h3>
                    <p>Code for Progress fellows learn to code starting with the <b>front end</b> and moving towards the <b class="purple_text">back end</b> over 20 weeks. To build apps and sites that work for lots of different communities, they also spend time each week practicing how to see and listen to users and team members by working on real-world community projects through <b>human-centered design</b> and <b>agile project management</b>. Starting with the first day of class, they also do weekly professional development exercises - like resume writing, practice interviews, and job searching.<span class="green_text read_more schedule"> See the weekly schedule...</span></p><br>
                    <div class="hidden_content schedule">
                        <ul>
                        {% for week in weeks %}
                            <div class="row">
                                <div class="row">
                                    <div class="col-xs-2 green_text">Week {{week.number}}</div>
                                    <div class="col-xs-9"><b>{{week.title}}</b></div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-offset-2 col-xs-9"><i>{{week.description}}</i></div>
                                </div><br>
                            </div>
                        {% endfor %}
                        </ul>
                    </div>


                    <br><br><a name="badges"></a><h3 class="green_text">Badges</h3>
                    <p> Code for Progress doesn't use conventional grades and tests - but we do use badges to mark what fellows are able to do after they've mastered a skill. <span class="green_text read_more badges"> See the badge categories... </span>
                    <div class="hidden_content badges">
                    <ul>
                            <br><span class="green_text">Design and project management</span>
                            <br><span class="green_text">Professional skills</span>
                            <br><span class="green_text">BASH</span>
                            <br><span class="green_text">HTML</span>
                            <br><span class="green_text">CSS</span>
                            <br><span class="green_text">JavaScript</span>
                            <br><span class="green_text">Angular.js</span>
                            <br><span class="green_text">Python</span>
                            <br><span class="green_text">SQL</span>
                            <br><span class="green_text">Django</span>
                        </ul>
                    </div>
                    </p>

                    </span></p>

                    <br><br><a name="words"></a><h3 class="green_text">All these words</h3>
                    <p>We have a no-jargon practice in our community and classroom that helps us support each other's learning. It says that technical terms and acronyms should be explained if they are new to anyone in the space, and it applies to our website too. <span class="green_text words">Check back for our glossary, coming soon.</span>
                    </p>

            </div>
        </div>        
        {% if messages %}
          {% for message in messages %}
                <div id="message" class="alert alert-{% if 'error' in message.tags %}danger{% else %}{{ message.tags }}{% endif %}">
                {{ message }}
                </div>
          {% endfor %}
        {% endif %}

    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script>

$('document').ready(function() {
        $('.read_more.stacks').on('click', function() {
            $(this).hide();
            $('.hidden_content.stacks').slideDown();
        });

        $('.read_more.schedule').on('click', function() {
            $(this).hide();
            $('.hidden_content.schedule').slideDown();
        });

        $('.read_more.badges').on('click', function() {
            $(this).hide();
            $('.hidden_content.badges').slideDown();
        });

        $('.read_more.words').on('click', function() {
            $(this).hide();
            $('.hidden_content.words').slideDown();
        });

});



</script>

{% endblock %}
