{% extends "base.html" %}
{% block container %}
{% load staticfiles %}

<div class="jumbotron-title">
    <div class="container">
        <div class = "row">
            <div class = "col-md-5">
                <h1>About Code For Progress</h1>
            </div>
        </div>
    </div>
</div>
<div class = "container">
    <div class = "row">
        <br><br>
            <div class = "col-md-6">
                <div class = "content">
                    <h2 class="green_text">The Code for Progress curriculum covers full-stack, user-centered, agile software development and professional skills for the contemporary coding workforce.</h2>


                    <br>
                    Quick links
                    <ul>
                        <li><a href="#stacks" class="presslink">Stacks on stacks on stacks: A quick explanation of how coding languages fit together to make apps and sites (and how CFP teaches them)</a></li>
                        <li><a href="#schedule" class="presslink">Weekly schedule: The official course of learning for the CFP fellowship</a></li>
                        <li><a href="#badges" class="presslink">Badges: Achievements to work towards</a></li>
                        <li><a href="#words" class="presslink">All these words: Basic coding vocabulary, written for regular folks</a></li>

                    </ul>

                    <br><br><a name="stacks"></a><h3 class="green_text">Stacks on stacks on stacks</h3>
                    <p> Learning to code is really just about learning how to give instructions to (and understand replies from) different kinds of machines and computer programs - in a language they can understand. The basic idea is not very different from helping a toddler learn to eat with a spoon or pick up their toys - we teach them combinations of simple steps that let them eventually do things on their own. <span class="green_text read_more stacks">Read more...</span></p>

                    <p><span class="hidden_content stacks"><br>Just as humans aren't born with the skills to talk to each other, coders aren't born with the skills to talk to machines. We have to learn and practice the languages and words we need to do the things we want, and our language changes depending on who or what we're talking to. Apps and website uses a bunch of different programs and machines to function - all <b>stacked</b> up in a specific order, with a way to communicate between each other (sometimes over a very long distance).</span></p>

                    <p><span class="hidden_content stacks"><br>Sometimes, professional coders specialize in just part of this stack of machines and languages. The people who are really good at talking to the machines closest to your eyes and fingers when you're using an app are called <b>"front end"</b> developers. They speak <b>"client-side"</b> languages filled with instructions for how to make things show up on a screen and react to your movements. The people who talk to the machines that hold the central brains of the app or website are called <b>"back-end"</b> developers, and they speak "server-side" languages that know how to do calculations, dig back into memory, and pass information along to the front end.</span></p>

                    <p><span class="hidden_content stacks"><br>Code for Progress teaches "full stack" app development, which means we teach the languages that coders need to talk to both the front end and the back end of the app or website's stack, plus a couple of <b>'frameworks"</b>, which are tools that coders use to make the front end and back end talk to each other easily and efficiently. Our front-end languages are HTML, CSS, and JavaSript. Our back-end languages are Python and SQL. Our frameworks are Angular.js and Django.</span></p>

                    <p><span class="hidden_content stacks"><br>Of course, just like in everyday life, it doesn't matter what languages you're speaking if you don't know how to listen too. There are lots of different ways that coders plan out how they are going to do a project and understand who they are making it for. At CFP, we teach<b> human-centered design</b> and <b>agile project management</b> as our primary listening tools.</span></p>

                    
                    <br><br><a name="schedule"></a><h3 class='green_text'>Weekly schedule</h3>
                    <p>Code for Progress fellows learn to code starting with the <b>front end</b> and moving towards the <b class="purple_text">back end</b> over 20 weeks. To use those languages for apps and sites that work for lots of different communities, they also spend time each week practicing how to see and listen to users and team members by working on real-world <b>community projects</b> using <b>human-centered design</b> and <b>agile project management</b>. Each week, starting with the first day of class, they also do professional development exercises - like resume writing, practice interviews, and job searching.<span class="green_text read_more schedule"> See the weekly schedule...</span>
                    <div class="hidden_content schedule">
                        <ul>
                            <br><span class="green_text">Week 1</span>:
                            <br><span class="green_text">Week 2</span>:
                            <br><span class="green_text">Week 3</span>:
                            <br><span class="green_text">Week 4</span>:
                            <br><span class="green_text">Week 5</span>:
                            <br><span class="green_text">Week 6</span>:
                            <br><span class="green_text">Week 7</span>:
                            <br><span class="green_text">Week 8</span>:
                            <br><span class="green_text">Week 9</span>:
                            <br><span class="green_text">Week 10</span>:
                            <br><span class="green_text">Week 11</span>:
                            <br><span class="green_text">Week 12</span>:
                            <br><span class="green_text">Week 13</span>:
                            <br><span class="green_text">Week 14</span>:
                            <br><span class="green_text">Week 15</span>:
                            <br><span class="green_text">Week 16</span>:
                            <br><span class="green_text">Week 17</span>:
                            <br><span class="green_text">Week 18</span>:
                            <br><span class="green_text">Week 19</span>:
                            <br><span class="green_text">Week 20</span>:
                        </ul>
                    </div></p>


                    <br><br><a name="badges"></a><h3 class="green_text">Badges</h3>
                    <p> Code for Progress doesn't use conventional grades and tests - but we do use badges to mark what fellows are able to do after they've mastered a skill. <span class="green_text read_more badges"> Read more... </span>
                    <div class="hidden_content badges">
                    <ul>
                            <br><span class="green_text">Design and project management badges</span>
                            <br><span class="green_text">Professional skill badges</span>
                            <br><span class="green_text">BASH badges</span>
                            <br><span class="green_text">HTML badges</span>
                            <br><span class="green_text">CSS badges</span>
                            <br><span class="green_text">JavaScript badges</span>
                            <br><span class="green_text">Angular badges</span>
                            <br><span class="green_text">Python badges</span>
                            <br><span class="green_text">SQL badges</span>
                            <br><span class="green_text">Django badges</span>
                        </ul>
                    </div>
                    </p>

                    </span></p>

                    <br><br><a name="words"></a><h3 class="green_text">All these words</h3>
                    <p>We have a no-jargon practice in our community and classroom that helps us all support each other's learning. It says that technical terms and acronyms should be explained if they are new to anyone in the space - and it applies to our website too. <span class="green_text read_more words">Learn some basic coding words...</span>

                    <ul class="hidden_content words">
                            <br><span class="green_text">Back-end</span>: The machines and languages that 
                            <br><span class="green_text">Client-side</span>: The machines and languages that 
                            <br><span class="green_text">Coder</span>: The machines and languages that 
                            <br><span class="green_text">Developer</span>: A
                            <br><span class="green_text">Front-end</span>: The machines and languages that 
                            <br><span class="green_text">Full-stack</span>: The whole group of
                            <br><span class="green_text">Hack/hacking/hacker </span>: The
                            <br><span class="green_text">Hackathon</span>: The
                            <br><span class="green_text">Programmer</span>: A
                            <br><span class="green_text">Server-side</span>: The
                        </ul>
                    </p>

            </div>
        </div>        
        {% if messages %}
          {% for message in messages %}
                <div id="message" class="alert alert-{% if 'error' in message.tags %}danger{% else %}{{ message.tags }}{% endif %}">
                {{ message }}
                </div>
          {% endfor %}
        {% endif %}

    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script>

$('document').ready(function() {
        $('.read_more.stacks').on('click', function() {
            $(this).hide();
            $('.hidden_content.stacks').slideDown();
        });

        $('.read_more.schedule').on('click', function() {
            $(this).hide();
            $('.hidden_content.schedule').slideDown();
        });

        $('.read_more.badges').on('click', function() {
            $(this).hide();
            $('.hidden_content.badges').slideDown();
        });

        $('.read_more.words').on('click', function() {
            $(this).hide();
            $('.hidden_content.words').slideDown();
        });

});



</script>

{% endblock %}
