{% extends "base.html" %}
{% block container %}

<div class="jumbotron-title">
    <div class="container">
        <div class = "row">
            <div class = "col-md-6">
                <h1>Partner with Code for Progress</h1>
            </div>
        </div>
    </div>
</div>

<div class = "container">
    <div class = "row">
        <div class = "col-md-6">
            <div class = "content">
                
            <br><h3> Our community has grown because of the work we've done alongside organizations, agencies, foundations, and companies like yours. We look for partners to help us build and diversify the tech workforce pipeline in three ways. </h3>
            <br><h3 class="green_text"> Hire a graduate </h3>
            <p>Code for Progress fellows move into full time employment after the residency period. <a class="presslink" href="{% url 'contact' %}">Find out which fellows</a> are looking for employers like you and help us build the pipeline into coding work for women and people of color.</p>

            <br><h3 class="green_text"> Sponsor a fellow </h3>
            <p>Code for Progress supports its fellows through holistic training and support, and through a stipend that covers all housing, living, and travel expenses during the five-month residency. <a class="presslink" href="{% url 'contact' %}">Contact our senior staff</a> to discuss how you can support a fellow from recruitment to graduation.</p>


            <br><h3 class="green_text"> Build a project </h3>
            <p>Code for Progress fellows and staff have built sites and apps for organizations with social justice or civic engagement missions. <a class="presslink" href="{% url 'contact' %}">Get in touch with us </a> to find out how your staff or volunteers can learn about social justice tech while building tools alongside people like them.</p>





            </div>
        </div>
        <br><br><div class = "col-md-5 col-md-offset-1">
            <div class = "content">
                <img class = "img-responsive" src = "/static/img/bj_3.png" alt = "Fellow, Bobby Joe Smith III">
                <p>2014 fellow <a class="presslink" href="{% url 'fellow' fellow_firstname="Bobby Joe" %}">Bobby Joe Smith III</a> works on front-end code during residency.</p>
            </div>
        </div>
    </div>
</div>
        
        {% if messages %}
          {% for message in messages %}
                <div id="message" class="alert alert-{% if 'error' in message.tags %}danger{% else %}{{ message.tags }}{% endif %}">
                {{ message }}
                </div>
          {% endfor %}
        {% endif %}

    </div>
</div>
{% endblock %}