{% extends "base.html" %}
{% block container %}

<div class="jumbotron">
    <div class="container">
        <h1>Host a Field Project</h1>
        <p class="tagline">
            **We are no longer accepting Community Project applications for the 2014 training. Please do let us know if you’d like to apply for to be a 2015 Community Project host site!**

            Need to improve member communications, clean up your files, or make working on your cause more accessible to people outside your organization? In their final four weeks, participant teams spend time in the field, developing an innovative technological solution or online application to address organizational or community needs.

            We’d like to hear from you if you think you have a great field project for our participants. The program or app created by our Code for Progress participant is yours to use.

        </p>
        
        {% if messages %}
          {% for message in messages %}
                <div id="message" class="alert alert-{% if 'error' in message.tags %}danger{% else %}{{ message.tags }}{% endif %}">
                {{ message }}
                </div>
          {% endfor %}
        {% endif %}

    </div>
</div>
{% endblock %}