{% extends "base.html" %}
{% block container %}

<div class="jumbotron-title">
    <div class="container">
        <div class ="row">
            <div class = "col-md-5">
                <h1>In the News</h1>
            </div>
        </div>
    </div>
</div>
      <div class = "container">
        <div class = "row">
            <div class = "col-md-6">
                <div class = "content">

                    <br><h2>Coverage of our program</h2>
                    <ul>
                        <div><h3><a class = "presslink" href="http://colorlines.com/archives/2014/08/new_fellowship_prepares_women_of_color_for_coding_careers.html">New Fellowship Prepares People of Color for Coding Careers</a></h3>(Colorlines, August 26, 2014)</div>

                    <div><h3><a class = "presslink" href="http://wamu.org/programs/metro_connection/14/05/02/code_for_progress_programming_a_more_diverse_tech_world">Code for Progress Programming A More Diverse Tech World</a></h3>(WAMU, May 2, 2014)</div>

                    <div><h3><a class = "presslink" href="http://www.nbcwashington.com/video/#!/news/local/Social-Activists-Learn-to-Program-and-Code/260689751">Change is happening... Code for Progress is Shaping it.</a></h3>(NBC Washington, May 27, 2014)</div><br>
                    </ul>


                    <br><h2>News about the tech we've built</h2>
                        <ul>
                   
                        <div><h3><a class="presslink" href="https://technical.ly/dc/2014/09/26/lady-hackers-helping-maryland-care-child-migrants/">How lady hackers are helping Maryland care for child migrants.</a></h3>(Technical.ly DC, Sep 26, 2014)<br>
                        <a class="btn btn-app" href="http://www.buscandomaryland.com">View the app.</a> <a class="btn btn-app" href="http://www.github.com/aliyarahman/buscando">View the code.</a></div>

                        <div><h3><a class = "presslink" href="http://thedailyrecord.com/2014/09/17/md-starts-site-for-unaccompanied-children/">Maryland starts site for unaccompanied children.</a></h3>(Maryland Daily Record, Sep 17, 2014)<br>
                        <a class="btn btn-app" href="http://www.buscandomaryland.com">View the app.</a> <a class="btn btn-app" href="http://www.github.com/aliyarahman/buscando">View the code.</a></div>

                        <div><h3><a class = "presslink" href="http://news.dhr.maryland.gov/reports/that/omalley-brown-administration-highlights-new-community-resources-for-central-american-children-fleeing-violence/">O’Malley-Brown Administration Highlights New Community Resources for Central American Children Fleeing Violence.</a></h3>(Department of Human Resources Newsroom, Sep 17, 2014)<br>
                        <a class="btn btn-app" href="http://www.buscandomaryland.com">View the app.</a> <a class="btn btn-app" href="http://www.github.com/aliyarahman/buscando">View the code.</a></div>


                        <div><h3><a class = "presslink" href="http://www.whitehouse.gov/blog/2014/07/11/vice-president-biden-use-open-data-and-innovation-help-americans-find-jobs">Vice President Biden: Use Open Data and Innovation to Help Americans Find Jobs.</a></h4>(Technical.ly DC, Jul 11, 2014)<br>
                        <a class="btn btn-app" href="http://www.slideshare.net/whitneyq/theres-a-job-for-that-presentation">View the app.</a> <a class="btn btn-app" href="http://www.github.com/aliyarahman/theres-a-job-for-that">View the code.</a></div>

                    </ul>


                    <br><br><h2>Stories on our fellows and staff</h2>
                    <ul>
                    <div><h3><a class = "presslink" href="http://tech.co/29-tips-entrepreneurs-women-tech-2014-05">Aliya Rahman, Program Director, with advice for women in tech.</a></h3>(Tech Cocktail, May 23, 2014)</div><br>

                    <div><h3><a class = "presslink" href="http://www.ktvu.com/videos/news/oakland-bay-area-activist-heading-to-washington-to/vCbgZD/">Pam Davis, Code for Progress Fellow, takes on living wages, worker rights, and corporate welfare using code.</> <br></a></h3>(KTVU Bay Area, May 18, 2014)</div><br>

                    <div><h3><a class = "presslink" href="http://www.washingtonblade.com/2014/05/16/wanda-alston-house-code-for-progress-help-trans-women-thrive/">Casidy Henderson, Code for Progress Fellow, advocating for social justice with technology</a></h3>(The Washington Blade, May 16, 2014)</div><br>

                    <div><h3><a class = "presslink" href="http://thebronxfreepress.com/hard-of-hearing-and-a-noisemakersorda-y-haciendo-bulla/">Mariella Paulino, noisemaker, working to create assistive technologies to allow hard-of-hearing people to function seamlessly in society</a></h3>(WAMU, April 30, 2014)</div><br>

                    <div><h3><a class = "presslink" href="http://wamu.org/programs/metro_connection/14/05/02/code_for_progress_programming_a_more_diverse_tech_world">Code for Progress Fellows Terri Acker, Selina Musuta, Casidy Henderson, and Jason Towns: Four Washingtonians Using Coding to Bring Progress to D.C</a></h3>(In The Capital, April 22, 2014)</div>
                    </ul>
                </div>
            </div>
            <div class = "col-md-5 col-md-offset-1">
                <div class = "content">
                <br><br><img class = "img-responsive" src = "/static/img/jason_laverne.png" alt = "Fellow, Jason Towns">
                <p><br> <a class="presslink" href="{% url 'fellow' fellow_firstname="Jason" %}">Jason Towns</a>, 2014 fellow, prepares for a job interview.</p>
                </div>
            </div>
        </div>
    </div>

        {% if messages %}
          {% for message in messages %}
                <div id="message" class="alert alert-{% if 'error' in message.tags %}danger{% else %}{{ message.tags }}{% endif %}">
                {{ message }}
                </div>
          {% endfor %}
        {% endif %}
{% endblock %}