{% extends "base.html" %}
{% block container %}

<div class="jumbotron-press">
    <div class="container">
        <div class ="row">
            <div class = "col-md-1">
                <h1>in_the_news_</h1>
            </div>
        </div>
    </div>
</div>
      <div class = "container">
        <div class = "row">
            <div class = "col-md-6">
                <div class = "content">
                    <div>New Fellowship Prepares People of Color for Coding Careers.<br>Colorlines, August 26, 2014<a class = "presslink" href="http://colorlines.com/archives/2014/08/new_fellowship_prepares_women_of_color_for_coding_careers.html"> See Story </a></div><br>

                    <div>Change is happening... Code for Progress is Shaping it. <br> NBC Washington, May 27, 2014<a class = "presslink" href="http://www.nbcwashington.com/video/#!/news/local/Social-Activists-Learn-to-Program-and-Code/260689751"> See Story </a></div><br>

                    <div>Aliya Rahman, Program Director, with advice for women in Tech.<br> Tech Cocktail, May 23, 2014<a class = "presslink" href="http://tech.co/29-tips-entrepreneurs-women-tech-2014-05"> See Story </a></div><br>

                    <div>Pam Davis, Code for Progress Fellow, takes on living wages, worker rights, and corporate welfare using code. <br> KTVU Bay Area, May 18, 2014<a class = "presslink" href="http://www.ktvu.com/videos/news/oakland-bay-area-activist-heading-to-washington-to/vCbgZD/"> See Story </a></div><br>

                    <div>Casidy Henderson, Code for Progress Fellow, advocating for social justice with technology.<br> The Washington Blade, May 16, 2014<a class = "presslink" href="http://www.washingtonblade.com/2014/05/16/wanda-alston-house-code-for-progress-help-trans-women-thrive/"> See Story </a></div><br>

                    <div>Code for Progress Programming A More Diverse Tech World.<br> WAMU, May 2, 2014<a class = "presslink" href="http://wamu.org/programs/metro_connection/14/05/02/code_for_progress_programming_a_more_diverse_tech_world"> See Story </a></div><br>

                    <div>Mariella Paulino, noisemaker, working to create assistive technologies to allow hard-of-hearing people to function seamlessly in society. <br>WAMU, April 30, 2014<a class = "presslink" href="http://thebronxfreepress.com/hard-of-hearing-and-a-noisemakersorda-y-haciendo-bulla/"> See Story </a></div><br>

                    <div>Code for Progress Fellows Terri Acker, Selina Musuta, Casidy Henderson, and Jason Towns: Four Washingtonians Using Coding to Bring Progress to D.C.<br>InTheCapital, April 22, 2014<a class = "presslink" href="http://wamu.org/programs/metro_connection/14/05/02/code_for_progress_programming_a_more_diverse_tech_world"> See Story </a></div>
                </div>
            </div>
            <div class = "col-md-5">
                <div class = "content">
                <img class = "img-responsive" src = "/static/img/jason_laverne.png" alt = "Fellow, Jason Towns prepping for an interview">
                <p> Fellow, Jason Towns prepping for an interview</p>
                </div>
            </div>
        </div>
    </div>

        {% if messages %}
          {% for message in messages %}
                <div id="message" class="alert alert-{% if 'error' in message.tags %}danger{% else %}{{ message.tags }}{% endif %}">
                {{ message }}
                </div>
          {% endfor %}
        {% endif %}
{% endblock %}