{% extends "base.html" %}
{% block container %}				

{% load staticfiles %}


<div class="jumbotron-title">
    <div class="container">
          <div class = "row">
          	     <a href="{% url 'staff_fellows' %}">
 				 <h3><span class="glyphicon glyphicon-chevron-left"></span> Back to staff and fellows</h3>
				</a>
		  </div>
    </div>
</div>
				

<div class= "container">
	<br><br>
	<div class="row">
		<div class="col-md-4 col-md-offset-2">
			<img width="300" height="300" src="{% static 'img/'%}aliya_small_headshot.jpg" alt='Program Director' />
		</div>
		<div class = "col-md-5">
         <h1>Program Director</h1>
         <h3>Aliya Rahman</h3>            
		 <br><br>
		 <p>As Program Director, Aliya Rahman leads the recruitment, in-residence training, and job placement of Code for Progress fellows into full-time developer positions. Her work is informed by a background in legislative, electoral, and community organizing for racial and economic justice campaigns, and by a former life in public higher education conducting curriculum research and teaching computer programming and educational foundations/policy.</p>

<p>Aliya is the former Field Director of Equality Ohio, where she built a statewide field program focused on bridging gaps between racial justice organizers, LGBT rights groups, and labor. Prior to that, she worked for the Center for Community Change, first as their Ohio organizer in the passage of employment legislation supporting formerly incarcerated people, and later as a national circuit rider working with immigrant rights groups on voter engagement.</p>

<p>Aliya has developed Django applications, conducted tech trainings, or performed data analysis and targeting for every campaign, nonprofit, and university she has ever worked for - despite none of those tasks explicitly appearing on her job descriptions. Now based in Washington, DC, she is thoroughly enjoying life as a non-accidental techie, and is grateful to be part of an active ecosystem of women and people of color who believe tech has a pivotal role to play in creating social change. </p>
		</div>			
	</div>
</div>
				
								
		
{% endblock %}																									