{% extends "base.html" %}
{% block container %}       

{% load staticfiles %}



    <div class="jumbotron-title">
      <div class="container">
          <div class = "col-xs-12">
                <h1>Staff & Fellows</h1>
          </div>
      </div>
    </div>


  <div class="container content">



<h2>2014 Fellows</h2>

    {% for fellow in fellows %}
      <div class="row person_holder">
            <div class="col-sm-3 text-center">
              <img class="person-image" src="{% static 'img/'%}{{fellow.first_name}}.png" alt={{fellow.first_name}} />
            </div>
            
            <div class="col-sm-7 col-sm-offset-2 col-md-offset-0">
              <h2 class="green_text">{{fellow.first_name}} {{fellow.last_name}}</h2>
              <h4><span class="charcoal_text"><b>Originally from</b></span>: {{fellow.where_from}}</h4>
              {% if fellow.current_job != "" %}<h4><span class="charcoal_text"><b>Hired as</b></span>:  {{fellow.current_job}}</h4>{% endif %}
              <p><span class="charcoal_text"><b>About</b></span>: " {{fellow.page_text|truncatechars:140}}..." <a class="presslink" href="{% url 'fellow' fellow_firstname=fellow.first_name %}">Read more >>></a></p>
            </div>


      </div>
    {% endfor %}
</div>
<div class="container content">


<br><br><h2>Staff</h2>

      <div class="row person_holder center_block">
          <div class="col-sm-3">
            <img class="person-image" src="{% static 'img/michelle_small_headshot.jpg' %}" alt="Executive Director" />
          </div>
          
          <div class="col-sm-7 col-sm-offset-2 col-md-offset-0">
            <h2 class="green_text">Michelle Fox</h2>
            <h4>Executive Director</h4>
            <p>Michelle Fox is the first generation child of a Haitian immigrant turned proud SEIU 1199 member, who taught lessons of feminism and social and economic justice at the dinner table... <a class="presslink" href="{% url 'executive_director' %}">Read more >>></a></p>
          </div>

      </div>
    
      <div class="row person_holder center-block">
        
          <div class="col-sm-3">
            <img class="person-image" src="{% static 'img/aliya_small_headshot.jpg' %}" alt="Program Director" />
          </div>          
          
          <div class="col-sm-7 col-sm-offset-2 col-md-offset-0">
            <h2 class="green_text">Aliya Rahman</h2>
            <h4>Program Director</h4>
            <p>Aliya Rahman leads the recruitment, in-residence training, and job placement of Code for Progress fellows into full-time developer positions... <a class="presslink" href="{% url 'program_director' %}">Read more >>></a></p>
          </div>

      </div>

      <div class="row person_holder center-block">
        
          <div class="col-sm-3">
            <img class="person-image" src="{% static 'img/dirk_small_headshot.jpg' %}" alt="Board Chair" />
          </div>          
          
          <div class="col-sm-7 col-sm-offset-2 col-md-offset-0">
            <h2 class="green_text">Dirk Wiggins</h2>
            <h4>Board Chair</h4>
            <p>Dirk Wiggins is the CEO a co-founder of echo19 communications, has previously spent a decade consulting in various positions for electoral political campaigns,... <a class="presslink" href="{% url 'board_chair' %}">Read more >>></a></p>
          </div>

      </div>


    </div>
  
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script>
$(document).ready(function(){

    $('.person-image').on('mouseenter', function() {
        $(this).animate({'height':'220px'}, 'fast');
    }).on('mouseleave', function() {
        $(this).animate({'height':'200px'}, 'fast');
    });

});

</script>
    
{% endblock %}  
